Django>=4.2,<5.0
djangorestframework
psycopg2-binary
django-cors-headers
python-dotenv
auth0-python
PyJWT
requests
cryptography
dj-database-url
opentelemetry-api
opentelemetry-sdk
opentelemetry-instrumentation-django
opentelemetry-instrumentation-psycopg2
opentelemetry-exporter-otlp
# test
# test done
